<h1>New Post</h1>
<%= form_for(@post) do |f| %>
  <div class="field">
  	<%= f.label :category_id %><br>
  	<%= f.select :category_id, @categories.map{|t| [t.name, t.id]} %>
  </div>
  <div class="field">
  	<%= f.label :title %><br>
  	<%= f.text_field :title %>
  </div>
  <div class="field">
  	<%= f.label :body %><br>
  	<%= f.text_area :body %>
  </div>
  <div class="actions">
  	<%= f.submit %>
  </div>
 <% end %>