<p id='notice'><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= @post.created_at %>
</p>

<h3>comments</h3>
<% @comments.each do |comment| %>
<div>
  <p><%= comment.body %></p>
</div>
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
  	<%= f.label :body %><br>
  	<%= f.text_field :body %>
  </div>
  <div class="actions">
  	<%= f.submit %>
  </div>
<% end %>
